@media screen and (max-width:1000px) {
    nav {
        flex-direction: column;
    }

    .slider {
        height: 45vh;
    }

    .logo {
        justify-content: center;
        margin: 12px 0;
    }

    .cart {
        justify-content: center;
    }

    nav ul {
        justify-content: center;
    }

    .search {
        justify-content: center;
        margin-left: auto;
    }

    .search input {
        margin: 12px 15px;
        margin-left: 235px;
    }

    .search button {
        justify-content: center;
        align-items: center;
        margin-left: 325px;
    }

    .cart .wishlist {
        justify-content: center;
        align-items: center;
        margin-left: 300px;
    }


    nav ul {
        height: 30px;
    }

    .cards {
        overflow: scroll;
    }

    .card-item img {
        width: 140px;
    }

    .card-item .make-up {
        margin-left: 24px;
    }

    .card-item .skin-care {
        margin-left: 25px;
    }

    .card-item .bath-body {
        margin-left: 24px;
    }

    .card-item .appliances {
        margin-left: 25px;
    }
}